<h2>Welcome to Flatiron Open Orders</h2>
<p>Find me in app/views/store_admin/orders.html.erb</p>

<ol>
   <li>Fake Order 1 - 1 Billion Dollars</li>
   <li>Fake Order 2 - 2 Billion Dollars</li>
   <li>Fake Order 3 - 3 Billion Dollars</li>
   <li>Fake Order 4 - 4 Billion Dollars</li>
</ol>